<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">
            <p>Xin chào!</p>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/index"><i
                    class="fas fa-caret-right"></i> Trang chủ</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/users"><i
                    class="fas fa-caret-right"></i> Quản lý người dùng</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/posts"><i
                    class="fas fa-caret-right"></i> Quản lý bài viết</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/contacts"><i
                    class="fas fa-caret-right"></i> Quản lý liên hệ</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/categories"><i
                    class="fas fa-caret-right"></i> Quản lý danh mục</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/logout"><i
                    class="fal fa-sign-out"></i> Đăng xuất</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle"><i class="fas fa-bars"></i></button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="#!"><i class="fas fa-bell"></i> Thông
                                báo</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout"><i class="fal fa-sign-out"></i>
                                Thoát</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tài khoản</a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#!">Action</a>
                                <a class="dropdown-item" href="#!">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#!">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        