<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Thêm bài viết</h2>
        <div>
            <a href="/posts" class="btn btn-primary">Quay lại</a>
        </div>
    </div>
    <form action="/posts/add/" method="POST">
        <div class="mb-3">
            <label class="form-label">Mã bài viết</label>
            <input type="text" class="form-control" name="post_id" id="exampleInputCategoryName"
                value="<%= posts.post_id + 1 %>" readonly>
        </div>
        <div class="mb-3">
            <label class="form-label">Tiêu đề</label>
            <input type="text" name="title" class="form-control" placeholder="Nhập tiêu đề">
        </div>
        <div class="mb-3">
            <label class="form-label">Nội dung</label>
            <div id="description">Nhập nội dung</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Hình ảnh</label>
            <input type="file" name="image_url" class="form-control" placeholder="Nhập hình ảnh">
        </div>
        <div class="mb-3">
            <label class="form-label">Danh mục</label>
            <select name="category_id" class="form-select" aria-label="Default select example">
                <% categories.forEach((item) => { %>
                <option value="<%= item.category_id %>" <% if (posts.category_id==item.category_id) { %> selected <% } %>>
                    <%= item.category_name %></option>
                <% }) %>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Trạng thái</label>
            <select name="status" class="form-select" aria-label="Default select example">
                <option value="1" selected >Hiện</option>
                <option value="0">Ẩn</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Lưu</button>
    </form>
</div>